<div class="todo-frame">
  <!-- Display todo details if todo exists -->
  <div *ngIf="(todo$ | async) as todo" class="todo-details">
    <!-- Title -->
    <h2 class="title">Details</h2>

    <!-- Task name and status -->
    <div class="todo-task">
      <!-- Task name -->
      <p class="subtitle">
        {{ todo.Name }}
      </p>
      <!-- Task status -->
      <p
        class="todo-done"
        [ngClass]="{ 'is-done': todo.Done, 'not-done': !todo.Done }"
      >
        {{ todo.Done ? "Todo is done" : "Todo is NOT done" }}
      </p>
    </div>

    <!-- Description -->
    <p class="todo-desc">
      {{ todo.Description }}
    </p>

    <!-- Todo details -->
    <div class="todo-numbers">
      <!-- Todo ID -->
      <p>
        <strong>Id</strong>
        <span class="todo-id">{{ todo.Id }}</span>
      </p>
      <!-- Expenses -->
      <p>
        <strong>Expenses</strong>
        <span class="todo-expenses">{{
          todo.Expenses | number : "1.2-2"
        }}</span>
      </p>
      <!-- Created date -->
      <p>
        <strong>Created date</strong>
        <span
          class="todo-date"
          [ngClass]="{ 'invalid-date': !isValidDate(todo.Created) }"
        >
          {{
            isValidDate(todo.Created)
              ? (todo.Created | date : "MM/dd/yyyy")
              : "Invalid date"
          }}
        </span>
      </p>
      <!-- Days old -->
      <p>
        <strong>Days old</strong>
        <span
          class="todo-age"
          [ngClass]="{ 'invalid-date': !isValidDate(todo.Created) }"
          >{{
            isValidDate(todo.Created) ? getDaysOld(todo.Created) : "Age unknown"
          }}</span
        >
      </p>
    </div>
  </div>

  <!-- Display loading message if todo is not available -->
  <div *ngIf="!(todo$ | async)">
    <p>Loading TODO details...</p>
  </div>

  <!-- Button to navigate back to the todo list -->
  <button (click)="navigateToTodoList()">Back to list</button>
</div>
