.todo-details {
  padding: 10px;
}

.title {
  margin: 0px;
}

.todo-task {
  margin: 25px 0px 0px 0px;
  display: flex;
  align-items: center;
}

.todo-name {
  font-size: larger;
}
.todo-done {
    display: inline-block;
    padding: 5px 5px;
    margin-left: 10px;
    box-shadow: 1px;
    font-weight: bold;
    border-radius: 2px;
    margin-left: 20px;
    color: white;
    font-size: small;
}
.not-done {
    background-color: darkred;
}
.is-done {
    background-color: green;
}

.todo-desc {
  margin: 5px 0px 0px 0px;
}

.todo-numbers {
  display: grid;
  grid-template-columns: 100px 200px 300px 300px;
}

.todo-id,
.todo-expenses,
.todo-date,
.todo-age {
  padding: 10px;
}

.invalid-date {
  display: inline-block;
  padding: 5px 5px;
  margin-left: 10px;
  box-shadow: 1px;
  font-weight: bold;
  border-radius: 2px;
  background-color: darkred;
  color: white;
  font-size: small;
}
